html, body {
    background-color: rgb(245, 245, 245);
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 0;
    width: 100%;
}
a {
    text-decoration: none;
}
svg {
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    width: 30px;
}
.overlay {
    background-color: rgba(30, 30, 30, 0.9);
    height: 100%;
    margin-top: -10px;
    position: fixed;
    width: 100%;
    z-index: 8;
}
.close_badge_button {
    margin-top: 4px;
    position: absolute;
    right: 10px;
}
.badge_box {
    background-color: rgb(247, 247, 247);
    border: 2px rgb(200, 200, 200) solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.35);
    left: 5%;
    margin: auto;
    position: fixed;
    text-align: center;
    top: 40%;
    width: 90%;
    z-index: 10;
}
.badge_table:hover {
    cursor: pointer;
}
.badge_header {
    margin-bottom: 6px;
}
.badge_url {
    height: 18px;
    width: 80%;
}
.current_icon {
    height: 60px;
    min-height: 60px;
    min-width: 60px;
    width: 60px;
}
.current {
    display: block;
    width: 100%;
}
.current_header {
    display: flex;
}
.current_status {
    margin-bottom: auto;
    margin-top: auto;
}
.current_name {
    font-size: 130%;
    margin: auto;
    text-align: center;
    width: 100%;
}
.current_body {
    display: block;
    margin-bottom: 40px;
    width: 100%;
}
.current_info {
    border: 2px rgb(200, 200, 200) solid;
    margin: auto;
    width: 75%;
}
.current_commit {
    border: 2px rgb(230, 230, 230) solid;
    display: table;
    margin: auto;
    text-align: center;
    width: 95%;
}
.current_commit_header {
    display: flex;
    justify-content: center;
}
.current_commit_text {
    margin-bottom: auto;
    margin-top: auto;
}
.current_commit_avatar {
    height: 40px;
    width: 40px;
}
.current_commit_bottom {
    font-size: 120%;
}
.icon {
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
}
td.icon {
    height: 34px;
    min-height: 34px;
    min-width: 34px;
    text-align: center;
    width: 34px;
}
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
}
tr {
    width: 100%;
}
td {
    border-bottom: solid 1px rgb(253, 253, 253);
    border-top: solid 1px rgb(253, 253, 253);
    padding: 0 10px 0 0;
}
tr:nth-child(even) {
    background-color: rgb(242, 242, 242);
}
tr:nth-child(odd) {
    background-color: rgb(248, 248, 248);
}
.page {
    height: 92%;
}
.box {
    background-color: rgb(253, 253, 253);
    box-shadow: 0 3px 6px rgba(0,0,0,0.2), 0 3px 6px rgba(0,0,0,0.35);
}
.repo {
    font-size: 110%;
    margin: auto;
    margin-bottom: 20px;
    width: 60%;
}
.link_repo {
    display: block;
    font-size: 116%;
    margin-bottom: 12px;
    text-align: center;
}
.header {
    background-color: rgb(8, 8, 8);
    display: table;
    height: 6%;
    margin-bottom: 10px;
    width: 100%;
}
.sidebar {
    display: flex;
    float: left;
    height: 100%;
    margin-left: 1%;
    overflow-y: auto;
    position: relative;
    width: 30.5%;
}
.sidebar_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content {
    display: flex;
    float: right;
    height: 100%;
    margin-right: 1%;
    width: 66.5%;
}
.sidebar_info {
    display: block;
}
.container_builds {
    height: 100%;
}
.sidebar_builds {
    display: block;
    height: 75%;
    margin-bottom: 3px;
	overflow-y: hidden;
    width: 100%;
}
.builds {
    background-color: rgb(244, 244, 244);
    border: 2px rgb(200, 200, 200) solid;
    height: 100%;
    margin: 2px;
    overflow-y: scroll;
    transform: translateY(-5px);
}
.build_header {
    background-color: rgb(200, 200, 200);
    color: rgb(20, 20, 20);
    height: 32px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
}
.dev:nth-child(even) {
    background-color: rgb(231, 231, 231);
}
.dev:nth-child(odd) {
    background-color: rgb(236, 236, 236);
}
.release:nth-child(even) {
    background-color: rgb(210, 255, 210);
}
.release:nth-child(odd) {
    background-color: rgb(218, 255, 218);
}
.build {
    display: flex;
    float: left;
    height: 60px;
    margin: 2px 4px 2px 4px;
    width: 98%;
}
.build_child {
    height: 100%;
    margin: auto;
}
a.build_child {
    height: 100%;
    margin: auto;
    transform: translateY(30%);
    white-space: nowrap;
}
.build_state {
    margin-left: 6px;
}
.link_main {
    color: rgb(253, 253, 253);
    display: table-cell;
    height: 100%;
    padding-left: 2%;
    vertical-align: middle;
}
.link_main:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.link_info {
    color: rgb(80, 80, 220);
    padding-left: 4px;
}
.link_info:hover {
    color: rgb(16, 16, 200);
    text-decoration: underline;
}
.link_build {
    color: rgb(16, 16, 16);
    padding-left: 4px;
}
.link_build:hover {
    color: rgb(16, 16, 200);
    text-decoration: underline;
}
.link_date {
    color: rgb(180, 180, 180);
    padding-left: 4px;
}
.link_date:hover {
    color: rgb(180, 180, 220);
    text-decoration: underline;
}
.link_commit {
    color: rgb(16, 16, 16);
    float: right;
    height: 100%;
}
.link_commit:hover {
    color: rgb(16, 16, 200);
    text-decoration: underline;
}
.loading {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: spinner;
}
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.console {
    background-color: rgb(35, 35, 35);
    color: rgb(209, 154, 102);
    height: 99.5%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 99.5%;
}

.table_label {
    width: 25%;
}
.info_table_middle {
	width: 30%;
}

#download_section {
	border: 3px solid rgb(95, 95, 95) !important;
	background-color: rgb(111, 255, 111) !important;
	font-weight: bold;	
}

#dependency_section {
	margin-bottom: 20px !important;
}
